Repository lak-lang/lak: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, actionlint, zizmor, ghalint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "**/*.rs"
      run: cargo fmt --check
    clippy:
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint
    zizmor:
      glob: ".github/workflows/*.{yml,yaml}"
      run: zizmor --persona=auditor .
    ghalint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: ghalint run

feat: Add bool type with true/false literals and comprehensive tests
  .context/IMPLEMENTATION_STATUS.md
  CLAUDE.md
  compiler/src/ast/expr.rs
  compiler/src/ast/types.rs
  compiler/src/codegen/binding.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/lexer/skip.rs
  compiler/src/lexer/tests/keywords.rs
  compiler/src/lexer/tokens.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/helpers.rs
  compiler/src/parser/types.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/token/kind.rs
  compiler/tests/e2e_bool.rs
  compiler/tests/errors_semantic.rs
  runtime/src/lib.rs
Due: fmt, clippy

docs: Move Modules and imports to Phase 1 priority
  .context/IMPLEMENTATION_STATUS.md
Due: none

docs: Add task files for all implementation priority phases
  .context/tasks/phase1-03-comparison-operators.md
  .context/tasks/phase1-04-logical-operators.md
  .context/tasks/phase1-08-modules-imports.md
  .context/tasks/phase2-01-if-else.md
  .context/tasks/phase2-02-if-expression.md
  .context/tasks/phase2-03-return-statement.md
  .context/tasks/phase2-04-while-loop.md
  .context/tasks/phase3-01-function-parameters.md
  .context/tasks/phase3-02-non-void-return.md
  .context/tasks/phase3-03-print-function.md
  .context/tasks/phase4-01-mut-modifier.md
  .context/tasks/phase4-02-reassignment.md
  .context/tasks/phase4-03-type-inference.md
  .context/tasks/phase5-01-integer-types.md
  .context/tasks/phase5-02-float-types.md
  .context/tasks/phase5-03-tuple-type.md
  .context/tasks/phase6-01-simple-enums.md
  .context/tasks/phase6-02-option-type.md
  .context/tasks/phase6-03-match-expression.md
  .context/tasks/phase6-04-enums-with-values.md
  .context/tasks/phase6-05-result-type.md
  .context/tasks/phase7-01-struct-definition.md
  .context/tasks/phase7-02-struct-instantiation.md
  .context/tasks/phase7-03-field-access.md
  .context/tasks/phase7-04-methods.md
  .context/tasks/phase8-01-list-type.md
  .context/tasks/phase8-02-map-type.md
  .context/tasks/phase8-03-for-loop.md
  .context/tasks/phase9-01-interfaces.md
  .context/tasks/phase9-02-generics.md
  .context/tasks/phase9-03-string-interpolation.md
Due: none

docs: Remove Implementation Priority Suggestions section from status doc
  .context/IMPLEMENTATION_STATUS.md
Due: none

feat: Add import statements, visibility (pub), and member access parsing
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/ast/expr.rs
  compiler/src/ast/mod.rs
  compiler/src/ast/program.rs
  compiler/src/ast/tests.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/tests.rs
  compiler/src/lexer/tests/basic_tokens.rs
  compiler/src/lexer/tests/keywords.rs
  compiler/src/lexer/tokens.rs
  compiler/src/parser/error.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/fn_def.rs
  compiler/src/parser/helpers.rs
  compiler/src/parser/import.rs
  compiler/src/parser/mod.rs
  compiler/src/parser/tests/expr.rs
  compiler/src/parser/tests/fn_def.rs
  compiler/src/parser/tests/import.rs
  compiler/src/parser/tests/mod.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/symbol.rs
  compiler/src/semantic/tests/function_tests.rs
  compiler/src/semantic/tests/mod.rs
  compiler/src/semantic/tests/symbol_table_tests.rs
  compiler/src/token/kind.rs
  compiler/tests/CLAUDE.md
  compiler/tests/e2e_imports.rs
  compiler/tests/e2e_visibility.rs
  compiler/tests/errors_parse.rs
  compiler/tests/errors_semantic.rs
  compiler/tests/pipeline.rs
Due: fmt, clippy

feat: Add module resolution, semantic analysis, and codegen for imports
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/ast/expr.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/lib.rs
  compiler/src/main.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/tests/expr.rs
  compiler/src/resolver/error.rs
  compiler/src/resolver/mod.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/module_table.rs
  compiler/tests/CLAUDE.md
  compiler/tests/common/mod.rs
  compiler/tests/e2e_build.rs
  compiler/tests/e2e_modules.rs
  compiler/tests/e2e_run.rs
  compiler/tests/errors_modules.rs
  compiler/tests/errors_semantic.rs
  compiler/tests/fixtures/modules/basic/main.lak
  compiler/tests/fixtures/modules/basic/utils.lak
Due: fmt, clippy

chore: Add Claude plugin settings for rust-analyzer LSP
  .claude/settings.json
Due: none

fix: Improve error handling, documentation accuracy, and type safety across compiler
  CLAUDE.md
  compiler/CLAUDE.md
  compiler/src/codegen/CLAUDE.md
  compiler/src/codegen/binding.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/stmt.rs
  compiler/src/codegen/tests.rs
  compiler/src/main.rs
  compiler/src/resolver/error.rs
  compiler/src/resolver/mod.rs
  compiler/src/semantic/CLAUDE.md
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/module_table.rs
  compiler/src/semantic/tests/function_tests.rs
  compiler/src/semantic/tests/mod.rs
  compiler/tests/common/mod.rs
  compiler/tests/e2e_arithmetic.rs
  compiler/tests/e2e_build.rs
  compiler/tests/e2e_run.rs
  compiler/tests/e2e_variables.rs
  compiler/tests/errors_modules.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

test: Strengthen error message assertions with exact matching and ANSI verification
  compiler/src/semantic/tests/type_tests.rs
  compiler/tests/errors_modules.rs
Due: fmt, clippy

fix: Address PR review feedback for path-based mangle prefix refactoring
  compiler/src/codegen/CLAUDE.md
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/tests.rs
  compiler/src/main.rs
  compiler/tests/CLAUDE.md
  compiler/tests/e2e_modules.rs
Due: fmt, clippy

feat: Add cross-platform support for macOS and Windows CI and compilation
  .github/actions/setup-llvm/action.yml
  .github/workflows/ci.yml
  compiler/build.rs
  compiler/src/main.rs
  compiler/tests/common/mod.rs
  compiler/tests/e2e_build.rs
  compiler/tests/e2e_modules.rs
  compiler/tests/errors_modules.rs
Due: fmt, clippy, actionlint, zizmor, ghalint

fix: Use correct LLVM version for Windows Chocolatey package
  .github/actions/setup-llvm/action.yml
Due: none

fix: Use vovkos/llvm-package-windows for Windows LLVM setup
  .github/actions/setup-llvm/action.yml
Due: none

docs: Sync CLAUDE.md files with current codebase state
  CLAUDE.md
  compiler/CLAUDE.md
  runtime/CLAUDE.md
Due: none

fix: Disable inkwell default target features to fix Windows linking
  compiler/Cargo.toml
Due: none

chore: Add issue management skills for Claude Code
  .claude/skills/new-issue/SKILL.md
  .claude/skills/resolve-issue/SKILL.md
Due: none

fix: Use cc crate to locate MSVC linker on Windows
  Cargo.lock
  compiler/Cargo.toml
  compiler/src/main.rs
Due: fmt, clippy

fix: Detect MSVC linker path at build time to avoid GNU link.exe conflict
  compiler/Cargo.toml
  compiler/build.rs
  compiler/src/main.rs
  compiler/tests/common/mod.rs
Due: fmt, clippy

fix: Pass MSVC LIB environment to link.exe for CI compatibility
  compiler/build.rs
  compiler/src/main.rs
  compiler/tests/common/mod.rs
Due: fmt, clippy

fix: Link Windows system libraries required by Rust stdlib
  compiler/src/main.rs
  compiler/tests/common/mod.rs
Due: fmt, clippy

docs: Update CLAUDE.md with Windows MSVC linker details
  CLAUDE.md
  compiler/CLAUDE.md
Due: none

feat: Add help text support to ResolverError for actionable diagnostics
  compiler/CLAUDE.md
  compiler/src/main.rs
  compiler/src/resolver/error.rs
  compiler/tests/errors_modules.rs
Due: fmt, clippy

feat: Reject file extensions in import paths with actionable error
  compiler/src/resolver/error.rs
  compiler/src/resolver/mod.rs
  compiler/tests/e2e_modules.rs
  compiler/tests/errors_modules.rs
Due: fmt, clippy

feat: Detect integer overflow at runtime with panic for arithmetic operations
  .context/IMPLEMENTATION_STATUS.md
  .context/SPEC.md
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/tests.rs
  compiler/tests/CLAUDE.md
  compiler/tests/e2e_arithmetic.rs
Due: fmt, clippy

docs: Create LICENSE
  LICENSE
Due: none

feat: Detect division/modulo overflow at runtime for MIN / -1 and MIN % -1
  .context/IMPLEMENTATION_STATUS.md
  .context/SPEC.md
  compiler/src/codegen/expr.rs
  compiler/tests/CLAUDE.md
  compiler/tests/e2e_arithmetic.rs
Due: fmt, clippy

feat: Change IntLiteral token from i64 to u64 with parser negation folding
  compiler/src/lexer/CLAUDE.md
  compiler/src/lexer/error.rs
  compiler/src/lexer/tests/integers.rs
  compiler/src/lexer/tests/mod.rs
  compiler/src/lexer/tokens.rs
  compiler/src/parser/error.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/tests/expr.rs
  compiler/src/parser/tests/mod.rs
  compiler/src/semantic/mod.rs
  compiler/src/token/CLAUDE.md
  compiler/src/token/kind.rs
  compiler/tests/e2e_arithmetic.rs
  compiler/tests/e2e_variables.rs
  compiler/tests/errors_lex.rs
  compiler/tests/errors_parse.rs
Due: fmt, clippy

ci: Set default shell to bash for all workflow steps
  .github/workflows/ci.yml
Due: actionlint, zizmor, ghalint

fix: Include minus sign in error span for negative integer literal overflow
  compiler/src/parser/expr.rs
  compiler/tests/e2e_build.rs
Due: fmt, clippy

docs: Create README.md
  README.md
Due: none

ci: Use dynamic Homebrew prefix for LLVM path on macOS
  .github/actions/setup-llvm/action.yml
Due: none

ci: Add Release Please workflow with cross-platform release builds
  .github/actions/setup-llvm/action.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: actionlint, zizmor, ghalint

ci: Expand test matrix with additional OS variants
  .github/workflows/ci.yml
Due: actionlint, zizmor, ghalint

ci: Change release-please release-type from rust to simple
  release-please-config.json
Due: none

ci: Use GitHub App token for release-please permissions
  .github/workflows/release-please.yml
Due: actionlint, zizmor, ghalint

feat: Add comparison operators (==, !=, <, >, <=, >=)
  .context/IMPLEMENTATION_STATUS.md
  CLAUDE.md
  compiler/src/ast/expr.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/lexer/tests/basic_tokens.rs
  compiler/src/lexer/tokens.rs
  compiler/src/parser/error.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/helpers.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/token/kind.rs
  compiler/tests/CLAUDE.md
  compiler/tests/e2e_comparison.rs
  compiler/tests/errors_parse.rs
  compiler/tests/errors_semantic.rs
  runtime/src/lib.rs
Due: fmt, clippy

docs: copy CLAUDE.md to AGENTS.md and replace CLAUDE content
  AGENTS.md
  CLAUDE.md
  compiler/AGENTS.md
  compiler/CLAUDE.md
  compiler/src/ast/AGENTS.md
  compiler/src/ast/CLAUDE.md
  compiler/src/codegen/AGENTS.md
  compiler/src/codegen/CLAUDE.md
  compiler/src/lexer/AGENTS.md
  compiler/src/lexer/CLAUDE.md
  compiler/src/parser/AGENTS.md
  compiler/src/parser/CLAUDE.md
  compiler/src/semantic/AGENTS.md
  compiler/src/semantic/CLAUDE.md
  compiler/src/token/AGENTS.md
  compiler/src/token/CLAUDE.md
  compiler/tests/AGENTS.md
  compiler/tests/CLAUDE.md
  runtime/AGENTS.md
  runtime/CLAUDE.md
Due: none

chore: move skills to .agents and symlink .claude
  .agents/skills/new-issue/SKILL.md
  .agents/skills/resolve-issue/SKILL.md
  .claude/skills
Due: none
