Repository lak-lang/lak: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, actionlint, zizmor, ghalint

fmt:
  run: cargo fmt --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

actionlint:
  run: actionlint

zizmor:
  run: zizmor --persona=auditor .

ghalint:
  run: ghalint run

docs: update AGENTS references
  AGENTS.md
  compiler/AGENTS.md
  compiler/tests/AGENTS.md
Due: none

fix: reject self-referential let initializer in semantic phase
  compiler/src/semantic/mod.rs
  compiler/src/semantic/symbol.rs
  compiler/src/semantic/tests/variable_tests.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

fix: isolate build object files to temp dir
  compiler/src/main.rs
  compiler/tests/e2e_build.rs
Due: fmt, clippy

docs: add commit skill workflow
  .agents/skills/commit/SKILL.md
Due: none

docs: remove completed comparison task document
  .context/tasks/phase1-03-comparison-operators.md
  .context/tasks/phase2-01-if-else.md
  .context/tasks/phase2-04-while-loop.md
  .context/tasks/phase5-01-integer-types.md
  .context/tasks/phase5-02-float-types.md
  .context/tasks/phase6-03-match-expression.md
Due: none

docs: update implementation status to reflect current progress
  .context/IMPLEMENTATION_STATUS.md
Due: none

docs: reorganize task specs and centralize ordering in README
  .context/tasks/README.md
  .context/tasks/enums-with-values.md
  .context/tasks/field-access.md
  .context/tasks/float-types.md
  .context/tasks/for-loop.md
  .context/tasks/function-parameters.md
  .context/tasks/generics.md
  .context/tasks/if-else.md
  .context/tasks/if-expression.md
  .context/tasks/integer-types.md
  .context/tasks/interfaces.md
  .context/tasks/list-type.md
  .context/tasks/logical-operators.md
  .context/tasks/map-type.md
  .context/tasks/match-expression.md
  .context/tasks/methods.md
  .context/tasks/modules-imports.md
  .context/tasks/mut-modifier.md
  .context/tasks/non-void-return.md
  .context/tasks/option-type.md
  .context/tasks/print-function.md
  .context/tasks/reassignment.md
  .context/tasks/result-type.md
  .context/tasks/return-statement.md
  .context/tasks/simple-enums.md
  .context/tasks/string-interpolation.md
  .context/tasks/struct-definition.md
  .context/tasks/struct-instantiation.md
  .context/tasks/tuple-type.md
  .context/tasks/type-inference.md
  .context/tasks/while-loop.md
Due: none

docs: translate .context/tasks specs to English
  .context/tasks/README.md
  .context/tasks/enums-with-values.md
  .context/tasks/field-access.md
  .context/tasks/float-types.md
  .context/tasks/for-loop.md
  .context/tasks/function-parameters.md
  .context/tasks/generics.md
  .context/tasks/if-else.md
  .context/tasks/if-expression.md
  .context/tasks/integer-types.md
  .context/tasks/interfaces.md
  .context/tasks/list-type.md
  .context/tasks/logical-operators.md
  .context/tasks/map-type.md
  .context/tasks/match-expression.md
  .context/tasks/methods.md
  .context/tasks/modules-imports.md
  .context/tasks/mut-modifier.md
  .context/tasks/non-void-return.md
  .context/tasks/option-type.md
  .context/tasks/print-function.md
  .context/tasks/reassignment.md
  .context/tasks/result-type.md
  .context/tasks/return-statement.md
  .context/tasks/simple-enums.md
  .context/tasks/string-interpolation.md
  .context/tasks/struct-definition.md
  .context/tasks/struct-instantiation.md
  .context/tasks/tuple-type.md
  .context/tasks/type-inference.md
  .context/tasks/while-loop.md
Due: none

docs: require approval before deleting resolved issue file
  .agents/skills/resolve-issue/SKILL.md
Due: none

docs: add new-task skill for task specs
  .agents/skills/new-task/SKILL.md
Due: none

docs: add task for string ordered comparison operators
  .context/tasks/README.md
  .context/tasks/string-comparison-operators.md
Due: none

chore: add resolve-task skill
  .agents/skills/resolve-task/SKILL.md
Due: none

feat: add logical operators with short-circuit evaluation
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/ast/expr.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/lexer/tests/basic_tokens.rs
  compiler/src/lexer/tests/errors.rs
  compiler/src/lexer/tokens.rs
  compiler/src/parser/error.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/helpers.rs
  compiler/src/parser/tests/expr.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/tests/type_tests.rs
  compiler/src/token/kind.rs
  compiler/tests/e2e_bool.rs
  compiler/tests/errors_parse.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

chore: add multi-agent review skill scaffolding
  .agents/skills/multi-agent-review/SKILL.md
  .agents/skills/multi-agent-review/agents/openai.yaml
  .agents/skills/multi-agent-review/references/finding-schema.md
  .agents/skills/multi-agent-review/references/report-template.md
  .agents/skills/multi-agent-review/references/sub-agents.md
Due: none

chore: rename review skill to multi-lens
  .agents/skills/multi-agent-review/agents/openai.yaml
  .agents/skills/multi-lens-review/SKILL.md
  .agents/skills/multi-lens-review/agents/openai.yaml
  .agents/skills/multi-lens-review/references/finding-schema.md
  .agents/skills/multi-lens-review/references/report-template.md
  .agents/skills/multi-lens-review/references/review-lenses.md
Due: none

feat: implement if/else statements
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/ast/stmt.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/stmt.rs
  compiler/src/lexer/tests/keywords.rs
  compiler/src/lexer/tokens.rs
  compiler/src/parser/helpers.rs
  compiler/src/parser/mod.rs
  compiler/src/parser/stmt.rs
  compiler/src/parser/tests/stmt.rs
  compiler/src/semantic/mod.rs
  compiler/src/token/kind.rs
  compiler/tests/e2e_if_else.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

docs: update issue skill paths to .context/issues
  .agents/skills/new-issue/SKILL.md
  .agents/skills/resolve-issue/SKILL.md
Due: none

docs: add English issue files under .context/issues
  .context/issues/i32-binary-op-type-mismatch-in-println.md
  .context/issues/unhelpful-toplevel-statement-error.md
Due: none

chore: Remove unnecessary import
  .context/issues/i32-binary-op-type-mismatch-in-println.md
Due: none

feat: support if expressions
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/ast/expr.rs
  compiler/src/ast/mod.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/parser/error.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/mod.rs
  compiler/src/parser/stmt.rs
  compiler/src/parser/tests/expr.rs
  compiler/src/parser/tests/mod.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/tests/mod.rs
  compiler/tests/e2e_if_expression.rs
  compiler/tests/e2e_panic.rs
  compiler/tests/errors_parse.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

docs: add issues for symbol collision bugs
  .context/issues/entry-function-mangled-name-collision.md
  .context/issues/runtime-builtin-symbol-collision.md
Due: none

docs: add issue for slow e2e test runtime
  .context/issues/e2e-tests-slow-from-per-case-compilation.md
Due: none

fix: isolate function symbols and reserve prelude names
  .context/IMPLEMENTATION_STATUS.md
  .context/SPEC.md
  compiler/src/codegen/AGENTS.md
  compiler/src/codegen/mod.rs
  compiler/src/codegen/tests.rs
  compiler/src/semantic/AGENTS.md
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/tests/function_tests.rs
  compiler/src/semantic/tests/mod.rs
  compiler/tests/AGENTS.md
  compiler/tests/e2e_functions.rs
  compiler/tests/e2e_modules.rs
  compiler/tests/e2e_panic.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

docs: add issues for runtime path and analyzer reuse
  .context/issues/hardcoded-runtime-library-path-in-lak-binary.md
  .context/issues/semantic-analyzer-retains-state-across-analyze-calls.md
Due: none

feat: implement function parameters across parser, semantic, and codegen
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/ast/mod.rs
  compiler/src/ast/program.rs
  compiler/src/ast/tests.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/tests.rs
  compiler/src/parser/fn_def.rs
  compiler/src/parser/mod.rs
  compiler/src/parser/tests/errors.rs
  compiler/src/parser/tests/fn_def.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/module_table.rs
  compiler/src/semantic/symbol.rs
  compiler/src/semantic/tests/function_tests.rs
  compiler/src/semantic/tests/mod.rs
  compiler/src/semantic/tests/symbol_table_tests.rs
  compiler/tests/e2e_build.rs
  compiler/tests/e2e_functions.rs
  compiler/tests/e2e_modules.rs
  compiler/tests/e2e_run.rs
  compiler/tests/errors_modules.rs
  compiler/tests/errors_semantic.rs
  compiler/tests/pipeline.rs
Due: fmt, clippy

fix: resolve runtime and msvc linker paths at runtime
  .context/issues/hardcoded-runtime-library-path-in-lak-binary.md
  .github/workflows/release-please.yml
  AGENTS.md
  compiler/AGENTS.md
  compiler/Cargo.toml
  compiler/build.rs
  compiler/src/main.rs
  compiler/tests/AGENTS.md
  compiler/tests/common/mod.rs
  compiler/tests/e2e_build.rs
  compiler/tests/e2e_run.rs
  runtime/AGENTS.md
Due: fmt, clippy, actionlint, zizmor, ghalint

chore: remove obsolete issue documents on symbol collisions
  .context/issues/entry-function-mangled-name-collision.md
  .context/issues/runtime-builtin-symbol-collision.md
Due: none

fix: adapt integer literals in binary operations
  .context/SPEC.md
  .context/issues/i32-binary-op-type-mismatch-in-println.md
  compiler/src/ast/expr.rs
  compiler/src/ast/tests.rs
  compiler/src/ast/types.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/tests.rs
  compiler/src/parser/error.rs
  compiler/src/parser/tests/mod.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/tests/mod.rs
  compiler/tests/e2e_arithmetic.rs
  compiler/tests/e2e_build.rs
  compiler/tests/e2e_comparison.rs
  compiler/tests/errors_parse.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

feat: add return statements and non-void returns
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/ast/stmt.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/stmt.rs
  compiler/src/codegen/tests.rs
  compiler/src/lexer/skip.rs
  compiler/src/lexer/tests/keywords.rs
  compiler/src/lexer/tests/newlines.rs
  compiler/src/lexer/tokens.rs
  compiler/src/parser/helpers.rs
  compiler/src/parser/stmt.rs
  compiler/src/parser/tests/stmt.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/symbol.rs
  compiler/src/semantic/tests/function_tests.rs
  compiler/src/semantic/tests/mod.rs
  compiler/src/token/kind.rs
  compiler/tests/e2e_functions.rs
  compiler/tests/e2e_modules.rs
  compiler/tests/errors_semantic.rs
  compiler/tests/pipeline.rs
Due: fmt, clippy

ci: fix clippy warning in msvc linker lookup
  compiler/src/main.rs
Due: fmt, clippy

docs: define numeric promotion and cast rules
  .context/IMPLEMENTATION_STATUS.md
  .context/SPEC.md
  .context/tasks/float-types.md
Due: none

docs: add issue for if-true missing return check
  .context/issues/if-true-return-not-recognized.md
Due: none

feat: implement while loop with break and continue
  .context/IMPLEMENTATION_STATUS.md
  AGENTS.md
  compiler/AGENTS.md
  compiler/src/ast/stmt.rs
  compiler/src/ast/tests.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/stmt.rs
  compiler/src/codegen/tests.rs
  compiler/src/lexer/skip.rs
  compiler/src/lexer/tests/keywords.rs
  compiler/src/lexer/tests/newlines.rs
  compiler/src/lexer/tokens.rs
  compiler/src/parser/helpers.rs
  compiler/src/parser/mod.rs
  compiler/src/parser/stmt.rs
  compiler/src/parser/tests/stmt.rs
  compiler/src/semantic/AGENTS.md
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/tests/function_tests.rs
  compiler/src/semantic/tests/mod.rs
  compiler/src/token/kind.rs
  compiler/tests/AGENTS.md
  compiler/tests/e2e_while.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

docs: add issues for while-return internal error and name exposure
  .context/issues/internal-error-exposes-mangled-function-name.md
  .context/issues/while-true-return-triggers-internal-missing-return.md
Due: none

fix: avoid exposing mangled names in codegen internal errors
  .context/issues/internal-error-exposes-mangled-function-name.md
  AGENTS.md
  compiler/AGENTS.md
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/stmt.rs
  compiler/src/codegen/tests.rs
  compiler/tests/AGENTS.md
  compiler/tests/errors_codegen.rs
Due: fmt, clippy

fix: avoid false missing return for while true
  .context/issues/while-true-return-triggers-internal-missing-return.md
  compiler/src/codegen/stmt.rs
  compiler/src/codegen/tests.rs
  compiler/tests/AGENTS.md
  compiler/tests/e2e_while.rs
  compiler/tests/errors_codegen.rs
Due: fmt, clippy

fix: handle const-bool if return reachability
  .context/issues/if-true-return-not-recognized.md
  compiler/src/codegen/stmt.rs
  compiler/src/codegen/tests.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/tests/function_tests.rs
  compiler/tests/e2e_if_else.rs
Due: fmt, clippy

docs: add implementation status markers to tasks index
  .context/tasks/README.md
Due: none

docs: add task status marks to recommended order
  .context/tasks/README.md
Due: none

Path conditions:
  fmt: any of: **/*.rs
  clippy: any of: **/*.rs
  actionlint: any of: .github/workflows/*.{yml,yaml}
  zizmor: any of: .github/workflows/*.{yml,yaml}
  ghalint: any of: .github/workflows/*.{yml,yaml}
