Repository lak-lang/lak: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, actionlint, zizmor, ghalint

fmt:
  run: cargo fmt --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

actionlint:
  run: actionlint

zizmor:
  run: zizmor --persona=auditor .

ghalint:
  run: ghalint run

refactor: Split ast.rs into modular directory structure
  compiler/CLAUDE.md
  compiler/src/ast.rs
  compiler/src/ast/CLAUDE.md
  compiler/src/ast/expr.rs
  compiler/src/ast/mod.rs
  compiler/src/ast/program.rs
  compiler/src/ast/stmt.rs
  compiler/src/ast/tests.rs
  compiler/src/ast/types.rs
Due: fmt, clippy

refactor: Split token.rs into modular directory structure
  compiler/src/token.rs
  compiler/src/token/CLAUDE.md
  compiler/src/token/kind.rs
  compiler/src/token/mod.rs
  compiler/src/token/span.rs
Due: fmt, clippy

docs: Add CLAUDE.md documentation for compiler tests
  compiler/tests/CLAUDE.md
Due: none

ci: Add cargo build before test to generate runtime library
  .github/workflows/ci.yml
Due: actionlint, zizmor, ghalint

docs: Add commit message convention to CLAUDE.md
  CLAUDE.md
Due: none

chore: Split parser tests
  compiler/src/parser/CLAUDE.md
  compiler/src/parser/tests.rs
  compiler/src/parser/tests/errors.rs
  compiler/src/parser/tests/expr.rs
  compiler/src/parser/tests/fn_def.rs
  compiler/src/parser/tests/helpers.rs
  compiler/src/parser/tests/mod.rs
  compiler/src/parser/tests/stmt.rs
Due: fmt, clippy

chore: Split lexer tests
  compiler/src/lexer/CLAUDE.md
  compiler/src/lexer/tests.rs
  compiler/src/lexer/tests/basic_tokens.rs
  compiler/src/lexer/tests/comments.rs
  compiler/src/lexer/tests/compound.rs
  compiler/src/lexer/tests/edge_cases.rs
  compiler/src/lexer/tests/errors.rs
  compiler/src/lexer/tests/identifiers.rs
  compiler/src/lexer/tests/integers.rs
  compiler/src/lexer/tests/keywords.rs
  compiler/src/lexer/tests/mod.rs
  compiler/src/lexer/tests/newlines.rs
  compiler/src/lexer/tests/spans.rs
  compiler/src/lexer/tests/strings.rs
Due: fmt, clippy

chore: Split semantic tests
  compiler/src/semantic/CLAUDE.md
  compiler/src/semantic/tests.rs
  compiler/src/semantic/tests/function_tests.rs
  compiler/src/semantic/tests/mod.rs
  compiler/src/semantic/tests/symbol_table_tests.rs
  compiler/src/semantic/tests/type_tests.rs
  compiler/src/semantic/tests/variable_tests.rs
Due: fmt, clippy

fix: Use RelocMode::PIC for PIE-compatible object file generation
  compiler/src/codegen/target.rs
Due: fmt, clippy

feat: Add user-defined function call support
  compiler/CLAUDE.md
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/stmt.rs
  compiler/src/semantic/mod.rs
  compiler/tests/e2e_functions.rs
  compiler/tests/errors_semantic.rs
  runtime/CLAUDE.md
Due: fmt, clippy

docs: Add language specification document for AI agents
  .context/SPEC.md
  CLAUDE.md
Due: none

feat: Add string type support for variable declarations
  CLAUDE.md
  compiler/src/ast/types.rs
  compiler/src/codegen/binding.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/parser/types.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/tests/type_tests.rs
  compiler/tests/e2e_strings.rs
  compiler/tests/errors_semantic.rs
  compiler/tests/pipeline.rs
Due: fmt, clippy

docs: Add implementation status checklist for language features
  .context/IMPLEMENTATION_STATUS.md
  CLAUDE.md
Due: none

docs: Add any type and update println/print to accept any value
  .context/IMPLEMENTATION_STATUS.md
  .context/SPEC.md
Due: none

feat: Add integer type support for println function
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/tests.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/tests/type_tests.rs
  compiler/tests/e2e_any.rs
  compiler/tests/errors_semantic.rs
  runtime/src/lib.rs
Due: fmt, clippy

refactor: Replace panic with Result in semantic analysis
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
Due: fmt, clippy

docs: Update println documentation to reflect any type support
  CLAUDE.md
Due: none

test: Improve E2E tests to verify variable values via println
  compiler/tests/e2e_functions.rs
  compiler/tests/e2e_run.rs
  compiler/tests/e2e_strings.rs
  compiler/tests/e2e_variables.rs
Due: fmt, clippy

feat: Restrict identifiers to ASCII-only characters
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/lexer/CLAUDE.md
  compiler/src/lexer/mod.rs
  compiler/src/lexer/tests/identifiers.rs
  compiler/src/lexer/tokens.rs
  compiler/src/parser/tests/fn_def.rs
  compiler/src/parser/tests/helpers.rs
  compiler/tests/e2e_variables.rs
  compiler/tests/errors_lex.rs
Due: fmt, clippy

docs: Sync CLAUDE.md with current codebase state
  CLAUDE.md
Due: none

feat: Restrict whitespace to Go-compatible ASCII characters
  compiler/src/lexer/mod.rs
  compiler/src/lexer/skip.rs
  compiler/src/lexer/tests/mod.rs
  compiler/src/lexer/tests/whitespace.rs
  compiler/tests/errors_lex.rs
Due: fmt, clippy

fix: Remove duplicate error message on compilation failure
  compiler/src/main.rs
Due: fmt, clippy

refactor: Improve error handling with CompileContext and type-safe errors
  compiler/src/main.rs
  compiler/tests/e2e_build.rs
  compiler/tests/e2e_run.rs
Due: fmt, clippy

refactor: Add ErrorKind enums and improve test coverage for error types
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/tests.rs
  compiler/src/lexer/error.rs
  compiler/src/lexer/mod.rs
  compiler/src/lexer/skip.rs
  compiler/src/lexer/tests/edge_cases.rs
  compiler/src/lexer/tests/errors.rs
  compiler/src/lexer/tests/identifiers.rs
  compiler/src/lexer/tests/whitespace.rs
  compiler/src/lexer/tokens.rs
  compiler/src/main.rs
  compiler/src/parser/error.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/helpers.rs
  compiler/src/parser/mod.rs
  compiler/src/parser/tests/errors.rs
  compiler/src/parser/tests/helpers.rs
  compiler/src/parser/tests/stmt.rs
  compiler/src/parser/types.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/symbol.rs
  compiler/src/semantic/tests/symbol_table_tests.rs
  compiler/tests/common/mod.rs
  compiler/tests/errors_lex.rs
  compiler/tests/errors_parse.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

docs: Document error type structure and test utilities for ErrorKind
  compiler/CLAUDE.md
  compiler/tests/CLAUDE.md
Due: none

chore: Use current_dir in all e2e_build tests to prevent garbage files
  compiler/tests/e2e_build.rs
Due: fmt, clippy

refactor: Unify error message format across compiler
  compiler/src/lexer/tokens.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/symbol.rs
  compiler/src/semantic/tests/function_tests.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

refactor: Add error helper constructors and improve documentation
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/codegen/stmt.rs
  compiler/src/codegen/target.rs
  compiler/src/codegen/tests.rs
  compiler/src/lexer/error.rs
  compiler/src/lexer/skip.rs
  compiler/src/lexer/tests/mod.rs
  compiler/src/lexer/tokens.rs
  compiler/src/parser/error.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/helpers.rs
  compiler/src/parser/tests/mod.rs
  compiler/src/parser/types.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/symbol.rs
  compiler/src/semantic/tests/mod.rs
Due: fmt, clippy

refactor: Use exact message matching in tests and include ANSI codes in E2E tests
  compiler/src/ast/tests.rs
  compiler/src/codegen/tests.rs
  compiler/src/lexer/tests/edge_cases.rs
  compiler/src/lexer/tests/errors.rs
  compiler/src/lexer/tests/mod.rs
  compiler/src/main.rs
  compiler/src/parser/tests/errors.rs
  compiler/src/parser/tests/helpers.rs
  compiler/src/parser/tests/mod.rs
  compiler/src/semantic/tests/function_tests.rs
  compiler/src/semantic/tests/mod.rs
  compiler/src/semantic/tests/symbol_table_tests.rs
  compiler/src/semantic/tests/type_tests.rs
  compiler/src/semantic/tests/variable_tests.rs
  compiler/tests/e2e_build.rs
  compiler/tests/e2e_run.rs
Due: fmt, clippy

docs: Add testing philosophy section to CLAUDE.md
  CLAUDE.md
Due: none

refactor: Use exact message matching in all error tests
  compiler/src/lexer/tests/identifiers.rs
  compiler/src/lexer/tests/whitespace.rs
  compiler/src/parser/tests/errors.rs
  compiler/src/parser/tests/stmt.rs
  compiler/tests/common/mod.rs
  compiler/tests/errors_lex.rs
  compiler/tests/errors_parse.rs
  compiler/tests/errors_semantic.rs
  compiler/tests/pipeline.rs
Due: fmt, clippy

feat: Add arithmetic operators (+, -, *, /, %) for i32 and i64
  .context/IMPLEMENTATION_STATUS.md
  CLAUDE.md
  compiler/src/ast/expr.rs
  compiler/src/ast/mod.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/lexer/tests/basic_tokens.rs
  compiler/src/lexer/tests/errors.rs
  compiler/src/lexer/tokens.rs
  compiler/src/main.rs
  compiler/src/parser/error.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/helpers.rs
  compiler/src/parser/tests/expr.rs
  compiler/src/parser/tests/mod.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/token/kind.rs
  compiler/tests/e2e_arithmetic.rs
  compiler/tests/errors_lex.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

docs: Reorder Phase 1 priority to implement bool before comparison operators
  .context/IMPLEMENTATION_STATUS.md
Due: none

docs: Reorganize panic built-in function in implementation status
  .context/IMPLEMENTATION_STATUS.md
Due: none

feat: Add panic built-in function for program termination
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/mod.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/tests/e2e_panic.rs
  compiler/tests/errors_semantic.rs
  runtime/src/lib.rs
Due: fmt, clippy

feat: Add short_message() to error types for report titles
  compiler/src/codegen/error.rs
  compiler/src/codegen/tests.rs
  compiler/src/lexer/error.rs
  compiler/src/lexer/tests/mod.rs
  compiler/src/main.rs
  compiler/src/parser/error.rs
  compiler/src/parser/tests/mod.rs
  compiler/src/semantic/error.rs
  compiler/tests/common/mod.rs
  compiler/tests/e2e_build.rs
  compiler/tests/e2e_run.rs
  compiler/tests/errors_lex.rs
  compiler/tests/errors_parse.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

refactor: Remove unused IncompleteArrow error type
  compiler/src/lexer/CLAUDE.md
  compiler/src/lexer/error.rs
  compiler/src/lexer/tests/mod.rs
Due: fmt, clippy

feat: Add runtime division/modulo by zero checks
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/tests/common/mod.rs
  compiler/tests/e2e_arithmetic.rs
  compiler/tests/e2e_build.rs
  compiler/tests/e2e_panic.rs
  compiler/tests/e2e_run.rs
Due: fmt, clippy

feat: Add unary negation operator (-) with comprehensive tests
  .context/IMPLEMENTATION_STATUS.md
  compiler/src/ast/expr.rs
  compiler/src/ast/mod.rs
  compiler/src/codegen/builtins.rs
  compiler/src/codegen/error.rs
  compiler/src/codegen/expr.rs
  compiler/src/codegen/tests.rs
  compiler/src/parser/expr.rs
  compiler/src/parser/tests/expr.rs
  compiler/src/parser/tests/mod.rs
  compiler/src/semantic/error.rs
  compiler/src/semantic/mod.rs
  compiler/src/semantic/tests/mod.rs
  compiler/src/semantic/tests/type_tests.rs
  compiler/tests/e2e_arithmetic.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

test: Add unary minus tests across E2E test suites
  compiler/tests/e2e_any.rs
  compiler/tests/e2e_functions.rs
  compiler/tests/e2e_run.rs
  compiler/tests/e2e_variables.rs
  compiler/tests/errors_semantic.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: **/*.rs
  clippy: any of: **/*.rs
  actionlint: any of: .github/workflows/*.{yml,yaml}
  zizmor: any of: .github/workflows/*.{yml,yaml}
  ghalint: any of: .github/workflows/*.{yml,yaml}
